<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro - Vouchers Esgotados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="error-message">Ah, que pena!</h1>
        <p class="info-message">Nossos vouchers esgotaram. Mas fica tranquilo, em breve voltaremos com mais vouchers :)</p>
    </div>
</body>
</html>
